body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.limitar-secao{
    max-width: 1024px;
    margin: 0px auto;
}
h2{
    font-size: 36px;
    margin: 0;
}
/* Responsivel para telas até 768px*/
@media (min-width:560px) and (max-width: 768px){

   .secao-capa h1{
    font-size: 40px;
    max-width: 350px;
   
   } 
   .secao-capa p{
    font-size: 20px;
   }
   .secao-produtos{
    padding: 60px 20px;

   }
   .secao-produtos h3{
    font-size: 22px;
   }
   .secao-produtos img{
    max-height: 100px;
   }
   .box-card p{
    font-size: 16px;

   }
   .secao-sobre{
    padding: 60px 20px;
   }
   .card{
    padding: 15px;
   }
   .card h3{
    font-size: 22px;
   }
   .card p{
    font-size: 16px;
   }
   .secao-contato{
    padding: 60px 20px;
   }
}


/* Responsivel para telas até 500px*/
@media(max-width: 550px){
    .topo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

    }
    .topo ul{
        align-items: center;
        width: 100%;
        padding-top:10px ;
        margin-top: 10px;
        border-top: 1px solid #aaadaf;
    }
    .secao-produtos{
        padding: 0 10px;
        
    }
    .box-card{
        width: 100%;
    }
    .secao-produtos ul{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        
    }
    .secao-sobre{
        padding: 0 10px;

    }
    .car-secao-sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-flow: column nowrap;
       

    }
    .car-secao-sobre img, .card{
        width: 100%;
        height: 300px;

    }
    .secao-contato{
        padding: 0 10px;
    }
    .container-contato{
        display: flex;
        flex-direction: column;
        flex-flow: column nowrap;
        align-items: center;
    }
    .card-contato{
        align-items: center;
        display: flex;
    }
    .card-menores{
        width: 150px;
    }
    


}